/*Styles the tables on the Add New Contacts page. Simply removes the borders.*/

.table {
    border-bottom: 0px !important;
}

.table th, .table td {
    border: 1px !important;
}

.fixed-table-container {
    border: 0px !important;
}